form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
  
  /* background-color: rgba(77, 77, 241, 0.904); */
  box-shadow: 0px 0px 8px 0px #33333347;
  
}

input {
  color: #333;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 0.1rem;
  border: none;
  border-radius: 5px;
  /* width: 70%; */
  display: block;
  box-shadow: inset 0px 0px 8px 0px #33333347;
}
input::placeholder {
  font-weight: 400;
}

form > button { 
  font-size: 20px;
  font-weight: 800;
  color: rgb(246, 240, 240);
  margin-top: 30px;
  padding: 15px;
  border: none;
  box-shadow: 0 0 2px #333;
  cursor: pointer;
  background-color: rgb(23 143 105 / 91%);
  border-radius: 5px;
  transition-duration: 400ms;
}

form > button:hover {
  transform: scale(1.1);
  background-color: #fff200ed;
}
